.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.sitebar {
    display: flex;
    width: 500px;
    background-color: #efeff0;
    /* justify-content: flex-start; */
    flex-direction: column;
    padding-left: 7px;
    font-family: Arial, Helvetica, sans-serif;
}
.d1 {
    display: flex;
    width: 100%;
    height: 60px;
}
.rightpanel {
    display: flex;
    width: 100%;
    overflow: auto;
    flex-grow: 1;
    /* min-height: 150px; */
    background-image: url(./telegramm-22.jpg);
    background-size: 970px auto;
    background-repeat: repeat;
    flex-direction: column;
    justify-content: space-between;
}
.form {
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 0px;
    padding-left: 5px;
}
.form form {
    width: 100%;
    padding-top: 5px;
    }
.form input {
    width: 98%;
    height: 46px;
    padding-left: 60px;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
}
.form button {
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
    border: white;
    background-color: white;
    margin-top: 3px;
    margin-left: 3px;
    }
.form img {
    height: 36px;
    }
.dropdown {
    display: flex;
    height: 55px;
    align-items: center;
    margin-left: 5px;
}
.dropdown input {
    display: flex;
    background-color: white;
}
.dropdown button {
    align-items: center;
    background-image: url(./menu_FILL0_wght400_GRAD0_opsz48.png);
    width: 50px;
    height: 50px;
    border: 0px;
    padding: 0px;
    background-color: #efeff0;
    cursor: pointer;
}
.d1_1 {
    scroll-behavior: auto;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.d2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    margin-top: 10px;
}
.d2 img {
    border-radius: 215px;
    overflow: visible;
    width: 80px;
    height: 80px;
}
.d2 p {
    font-size: 13px;
    margin-top: 0px;
    color: rgb(122, 122, 122);
}

.d2 h3 {
    /* margin: 0px; */
    margin-bottom: 2px;
    margin-top: 1px;
}
.text {
    margin-left: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.time {
    color: rgb(112, 112, 112);
    font-size: 12px;
    width: 85px;
    justify-content: flex-end;
    display: flex;
    margin-top: 3px;
}
.d3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    margin-top: 6px;
    justify-content: space-between;
}
.UPpannel {
    display: flex;
    width: 100%;
    height: 53px;
    background-color: #efeff0;
    position: relative;
}
.UPpannel img {
    border-radius: 215px;
    overflow: visible;
    height: 40px;
}
.rightUP {
    width: 160px;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-end;
}
.rightUP img {
    width: 100%;
    cursor: pointer;
}
.d3 p {
    font-size: 13px;
    margin-top: 0px;
    color: rgb(122, 122, 122);
}

.d3 h3 {
    /* margin: 0px; */
    margin-bottom: 2px;
    margin-top: 1px;
}
.d3_1 {
    display: flex;
    flex-direction: row;
}
.downpannel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}
.message {
    display: flex;
    flex-grow: 1;
}
.formNiz {
    display: flex;
    /* width: 100%;
    position: relative;
    margin-bottom: 0px; */
    padding-left: 5px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.formNiz img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    cursor: pointer;
    height: 36px;
    position: absolute;
}
/* img:nth-child(22) {
    height: 36px;
    cursor: pointer;
    height: 36px;
    position: absolute;
}
img:nth-child(23) {
    position: absolute;
    padding-left: 415px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    padding-left: 409px; */
/* } */
.formNiz form {
    display: flex;
    align-items: center;
    /* position: absolute; */
    border-radius: 10px;
    cursor: pointer;
    border: white;
    background-color: white;
    margin-top: 3px;
    margin-left: 3px;
}
.formNiz input {
    display: flex;
    align-content: center;
    width: 40vh;
    height: 46px;
    padding-left: 60px;
    border-radius: 10px;
   /*  background-color: white;
    box-sizing: border-box; */
}
.formNiz button {
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
    border: white;
    background-color: white;
    margin-top: 3px;
    margin-left: 3px;
    }

/* .menu {
    background-image: url(/home/vasiliyvolgin/Загрузки/html/telega/icon/link.png);
    background-color: white;
    height: 36px;
    border-radius: 10px;
} */
